@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans+KR&display=swap");

body {
    margin: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    color: white;
    background-color: #81a18a;
    font-size: 3rem;
    font-family: "JetBrains Mono", "Noto Sans KR";
}
