@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

body {
    margin: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    color: white;
    background-color: #81a18a;
    font-size: 5rem;
    font-family: "JetBrains Mono", monospace;
    border-radius: 1rem;
}
